---
import { getI18N } from "@/i18n";
import CardDocuments from "../components/CardDocuments.astro";
import NoDataCard from "../components/NoDataCard.astro";
import { cardsData } from "../data/bookmarks.js";

// const cardsData: any[] = [];
//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="flex flex-col gap-y-8">
  {
    cardsData.length > 0 ? (
      cardsData.map((section) => (
        <div class="flex flex-col gap-y-3">
          <h3 class="text-lg font-semibold text-hub-title dark:text-hub-title-dark border-b border-hub-border dark:border-hub-border-dark pb-2">
            {section.section}
          </h3>
          <div class="flex flex-col gap-y-3">
            {section.items.map((item) => (
              <CardDocuments
                id={item.id}
                url={item.url}
                href={item.href}
                title={item.title}
                subtitle={item.subtitle}
                imageSrc={item.imageSrc}
                imageAlt={item.imageAlt}
              />
            ))}
          </div>
        </div>
      ))
    ) : (
      <NoDataCard
        message={i18n.BOOKSMARKS.empty.message}
        subtitle={i18n.BOOKSMARKS.empty.message2}
        imageSrc="/img/notion/white/my-notion-face-transparent_9.png"
      />
    )
  }
</div>
